/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #2c189b, #5c6bc0, #8b98e0);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.friends-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.friends-column {
  background-color: #0c081d;
  padding: 1rem;
  box-sizing: border-box; /* Ensures padding is included in the width */
  float: left;
  height: 100vh; /* Full height */
  padding-top: 4rem; /* Space for the navbar */
}

.friends-header {
  /* margin-left: 1rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.add-friend-button {
  background-color: #4caf50;
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  align-content: center;
  display: flex;
  margin-left: 15px;
  width: 2.5rem; /* Adjust width as needed */
  height: 2.5rem; /* Adjust height as needed */
}

.add-friend-button img {
  width: 1.5rem; /* Adjust width of the SVG */
  height: 1.5rem; /* Adjust height of the SVG */
  object-fit: contain; /* Ensures the SVG scales proportionally */
}

.streams-column {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto; /* Allows scrolling if content overflows */
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-columns {
  display: flex;
  flex-direction: row; /* Ensure columns are side by side */
  justify-content: space-between; /* Distribute space evenly */
  min-width: fit-content;
  margin-left: 10px;
}

.popup-columns > div {
  flex: 1; /* Allows columns to grow and shrink equally */
  width: 100%;
  min-width: fit-content;
  overflow: visible; /* Ensures content doesn't overflow outside the box */
  margin: 10px;
}

.popup {
  background-color: #222;
  padding: 2rem;
  border-radius: 8px;
  width: fit-content;
  height: auto;
  box-sizing: border-box; /* Ensures padding is included in width */
}

.send-request {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.input-email {
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
}

.req-send-button {
  padding: 0.5rem;
}

.close-popup-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.navbar {
  position: fixed;
  top: 0;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c081d; /* Solid background color */
  color: #fff;
  padding: 1rem;
  width: 100%;
  opacity: 1; /* Ensure full opacity */
}

.navbar-left {
  margin-left: 1rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.navbar-link:hover,
.navbar-brand:hover {
  text-decoration: underline;
}

.navbar-button-wrapper {
  display: flex;
  align-items: center;
}

.navbar-button-wrapper button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.homepage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 24px;
  width: 100%;
}

.slider-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.circular-slider {
  margin: 20px 0;
}

.circular-slider input[type="range"] {
  transform: rotate(-90deg);
  width: 200px;
}

.circular-slider p {
  margin-top: 10px;
}

button {
  background-color: #ffffff;
  border: none;
  color: #1b0f5f;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #8b98e0;
}

button:active {
  transform: scale(0.95);
}

header > div {
  margin: 0 1rem;
}

/* friend requests stuff */

.friend-requests {
  width: 100%;
  box-sizing: border-box; /* Ensures padding is included in width */
}

.friend-requests ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.friend-requests li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  word-wrap: break-word; /* Wrap long text */
}

.friend-requests img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.friend-requests button {
  margin-left: 10px;
}

.friends-list {
  text-align: left;
  list-style: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 1rem; /* Removes default margin */
  flex-direction: column;
  flex-grow: 1;
  display: table;
  min-width: fit-content;
}

.friend-item {
  margin-bottom: 0.5rem; /* Adjust spacing between friends as needed */
  font-size: 1rem; /* Adjust font size as needed */
  color: #fff; /* Adjust text color if needed */
}
